<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de contacto de La Trattoria Valenciana, restaurante italiano en Valencia.">
    <title>Contacto - La Trattoria Valenciana</title>
    <link rel="stylesheet" href="./../css/contacto.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="./../assets/imagenes/logo.png" alt="Logotipo Restaurante La Trattoria Valenciana">
        </div>
        <nav>
            <ul>
                <li><a href="./../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
                <li><a href="./contacto.html"class="activo">Contacto</a></li>
                <li><a href="./reserva.html">Reserva</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="contacto">
            <h2>Contacto</h2>
            <p>Si tienes alguna pregunta o deseas obtener más información, no dudes en ponerte en contacto con nosotros.</p>
            
            <div class="mapa">
                <h2>Ubicación</h2>
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3131.8392672671314!2d-0.3763525!3d39.4693074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f4e0f4c5d71%3A0x2e956f7f31cf9073!2sCarrer%20de%20Col%C3%B3n%2C%2025%2C%2046004%20Val%C3%A8ncia%2C%20Valencia%2C%20Spain!5e0!3m2!1sen!2ses!4v1698612345678!5m2!1sen!2ses" 
                    width="600" 
                    height="450" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            
            <div class="datos-contacto">
                <h2>Datos de contacto</h2>
                <p><strong>Dirección:</strong> Carrer de Colón 25, Valencia, España</p>
                <p><strong>Teléfono:</strong> <a href="tel:+34961123456">+34 961 123 456</a></p>
                <p><strong>Email:</strong> <a href="mailto:info@trattoriavalenciana.com">info@trattoriavalenciana.com</a></p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 La Trattoria Valenciana. Todos los derechos reservados.</p>
        <p class="contact-info">Síguenos en redes sociales:</p>
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=61567780894798">
                <img src="./../assets/imagenes/facebook.png" alt="Facebook" width="2048" height="2048" alt="Descripción de la imagen">
            </a>
            <a href="https://www.instagram.com/latrattoriavalenciana?utm_source=qr&igsh=MXJydHRqd2NvMTI3aw==">
                <img src="./../assets/imagenes/instagram.png" alt="Instagram" width="800" height="800" alt="Descripción de la imagen">
            </a>
        </div>
        <p class="contact-info">Dirección: Carrer de Colón 25, Valencia, España</p>
        <p class="contact-info">Teléfono: <a href="tel:+34961123456">+34 961 123 456</a></p>
        <p class="contact-info"><a href="./aviso-legal.html">Aviso Legal</a></p>
    </footer>
</body>
</html>